<div class="message-container">
    <mat-card>
      <mat-card-title>Timeline</mat-card-title>
      <mat-card-content>
          <div *ngFor="let t of topics" class="topic-container">
    
              <div fxLayout="row" class="message-container" class="color-1">
                <div fxFlex class="topic-title color-1-b">{{t}}</div>
                <div fxFlex *ngFor="let msg of topicMessages[t]; let i = index">
          
                  <mat-chip-list *ngIf="msg.date && msg.message">
                    <mat-chip (click)="selectMessage(t, i)" class="selectable-chip">#{{msg.messageNumber}}</mat-chip>
                  </mat-chip-list>
          
                  <mat-chip-list *ngIf="!msg.date || !msg.message">
                    <mat-chip class="invisible-chip">&nbsp;</mat-chip>
                  </mat-chip-list>
            
                </div>
              </div>
            </div>
            <div class="time-axis-container" class="color-2">
                <div fxFlex class="topic-title color-2-b">Time</div>
                <div fxFlex *ngFor="let ts of timeStamps">
                  {{ts}}
                </div>
            </div>
      </mat-card-content>
    </mat-card>
</div>

<div class="selected-message">
  <mat-card>
    <mat-card-title *ngIf="selectedMessage">Topic: {{selectedMessage.topic}}</mat-card-title>
    <mat-card-content *ngIf="!selectedMessage">(click a message to display details)</mat-card-content>
    <mat-card-content *ngIf="selectedMessage">
        <h4>{{selectedMessage.date}}</h4>
        <mat-divider></mat-divider>
        <pre><code [highlight]="stringify(selectedMessage.message)"></code></pre>
    </mat-card-content>
  </mat-card>
</div>